@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Crimbo';
	src: url(/src/fonts/CRIMBOVINTAGE.otf) format('opentype');
}

@font-face {
	font-family: 'Fabulous';
	src: url(/src/fonts/AcylicalHand-Thick.ttf) format('truetype');
}

@font-face {
	font-family: 'Vintage';
	src: url(/src/fonts/VintageRovery.otf) format('opentype');
}

@font-face {
	font-family: 'Romantic';
	src: url(/src/fonts/SundayRomantic-Regular.otf) format('opentype');
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: #fff7ed;
	/* background-color: #1c1917; */
	background-color: #ece3d4;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #a8a29e;
	text-decoration: inherit;
	transition: ease-in 0.15s;
}
/* a:hover {
	color: #3730a3;
} */

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-family: 'crimbo' ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.2em;
	line-height: 1.1;
}

h2, h3{
		font-family: 'vintage', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
}


button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* ------------------------------------------------- */

#root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
